<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body style="font-size: 14px;">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="height:100%;width:100%;padding:5px 10px 10px 10px;font-family:'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;line-height:150%;text-align:center;color:#333333;background-color:#F4F5F9;background-image:url('https://s3.amazonaws.com/travis-ci-dzone/Travis-Email-Background.png');">
      <tbody>
        <tr>
          <td align="center" valign="top">
            <table cellspacing="0" cellpadding="0" border="0" style="max-width:500px;height:100%;margin-top:5px;padding:0px 10px;background-color:#FFFFFF;">
              <tbody>
                <tr>
                  <td valign="top" align="center" style="padding:20px 0px;">
                    <img src="https://s3.amazonaws.com/travis-email-assets/travis_ci_logo.png" alt="Travis CI Logo" title="Image: https://s3.amazonaws.com/travis-email-assets/travis_ci_logo.png" style="max-width: 150px;">
                  </td>
                </tr>
                <tr>
                  <td style="background-color:#FFFFFF;padding-bottom:20px;" valign="top" align="center">
                    <table style="width:90%;border-top:1px solid #DCDFE2;" width="100%" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td>
                            <span></span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td valign="top" align="center" style="padding:0px 25px 25px 25px;font-size:16px;">



<p style="text-align:left;font-size:16px;line-height:35px;">
Welcome to the Travis CI Integration with Perforce and Subversion (SVN)!
</p>

<p style="margin-bottom:4px;text-align:left;color:#333333;">
Travis CI is a quick, simple, and reliable cloud CI/CD solution that gives organizations more control over their virtual machines. Now, the power of Travis CI is available to users of Perforce and SVN repositories.
</p>
<p style="margin-bottom:30px;text-align:left;color:#333333;">
This integration relies on a new Travis CI “VCS Proxy" that sits between your Perforce/SVN repositories and Travis CI itself. The steps in this email explain how you can set up your VCS Proxy account. (Note: You received this email because an account was created in "VCS Proxy" for this email address.) 
</p>

<p style="margin-bottom:4px;text-align:left;color:#333333;">
Complete the following steps to set up a Travis CI account and connect it to the VCS Proxy (or click <a href="https://docs.travis-ci.com/user/travis-ci-vcs-proxy-get-started/" target="_blank">here</a> for more detailed instructions):
<br><br>
1. Confirm your email address by clicking the following button:
</p>
<div style="text-align:center; margin-top:25px; margin-bottom:25px">
  <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), :style=>'background-color:#2EB459;padding:15px;color:#FFFFFF;text-decoration:none;border-radius:2px;' %>
</div>

<p style="margin-bottom:4px;text-align:left;color:#333333;">
2. Your account is now confirmed. Next, reset your default password using this <a href="<%= @vcsproxy_link %>/forgot_password" target="_blank">link</a> (you will receive a separate email with instructions)
</p>

<p style="margin-bottom:4px;text-align:left;color:#333333;">
3. Next, go to the <a href="<%= @travisci_link %>" target="_blank">Travis CI VCS</a> site and click the ‘Sign in’ button in the top right corner
</p>

<p style="margin-bottom:4px;text-align:left;color:#333333;">
4. On the next screen, select ‘Sign in via Travis CI VCS Proxy.’ You will now be taken to the Travis CI VCS Proxy
</p>

<p style="margin-bottom:4px;text-align:left;color:#333333;">
5. In the Travis CI VCS Proxy, follow instructions that appear on screen to sign up for 2 Factor Authentication (2FA)
</p>

<p style="margin-bottom:4px;text-align:left;color:#333333;">
6. Repeat steps #3 and #4
</p>

<p style="margin-bottom:30px;text-align:left;color:#333333;">
7. In the Travis CI VCS Proxy, click the “Authorize” Button. You are now set up with Travis CI and the Travis CI VCS Proxy!
</p>

<br>
<p style="text-align:left;margin-bottom:4px">
As a final step, you will need to connect your repositories to the Travis CI VCS Proxy. To accomplish this, please follow the instructions found in our <a href="https://docs.travis-ci.com/user/travis-ci-vcs-proxy" target="_blank">Documentation</a>

<p style="text-align:left;margin-bottom:4px">
For more details on Travis CI, we recommend starting here: <a href="https://docs.travis-ci.com/user/for-beginners" target="_blank">Getting started with Travis CI</a>
</p>

<p style="text-align:left;margin-bottom:4px">
Questions? Issues? Comments? Please message us at  <a href="mailto:<%= @support_mail %>?Subject=Travis%20CI%20VCS%20Proxy%20-%20Support%20Request" style="color:#0068FF;"><%= @support_mail %></a>
</p>

<p style="text-align:left;color:#333333;">
Thank you, and have a great day!
</p>

<p style="font-weight:700;text-align:left;color:#333333;margin:0;">
The Travis CI Team
</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top" align="center">
            <table cellspacing="0" cellpadding="0" border="0" style="max-width:500px;height:100%;">
              <tbody>
                <tr>
                  <td style="padding:40px 0px 20px 0px;color:#0068ff;font-size:18px;font-weight:300;" valign="top" align="center">Have any questions?
                    <a href="mailto:<%= @support_mail %>?Subject=Travis%20CI%20VCS%20Proxy%20-%20Support%20Request" style="color:#0068FF;">We're here to help.</a>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center;padding-bottom:32px;">
                    <a target="_blank" href="<%= @vcsproxy_link %>">
                      <img alt="Travis CI Footer Logo" src="https://ci3.googleusercontent.com/proxy/4F3vZYJThQv1w7W1nKjQ-gIe7Ht98nXwYqz1L2LWfB8Fuhx1dz4EflRiIfghnf8n9QgMiDIXun4qfcutU4UPMctwWQX2V8vW4xi0VePgsa-UKS8=s0-d-e1-ft#https://s3.amazonaws.com/travis-ci-dzone/TravisCI-Logo-BW.png"></a>
                    </td>
                </tr>
                <tr>
                  <td style="color:#9EA3A8;font-size:10px;line-height:200%;text-align:center;padding:0px 20px 20px 20px;">
                    <p style="margin:0px;">Travis CI GmbH, Bonner Str. 12, 51379 Leverkusen, Germany | GF/CEO: Randy Jacops | Contact:
                      <a href="mailto:<%= @contact_mail %>" style="color:#9EA3A8;"><%= @contact_mail %></a>
                      | Amtsgericht Charlottenburg, Berlin, HRB 140133 B | Umsatzsteuer-ID gemäß §27 a Umsatzsteuergesetz: DE282002648
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
